# Ignore Python virtual environment
venv*/
flask_env/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore environment configuration
*.env
instance/.env

# Ignore SQLite database file
*.db
*.sqlite3

# Ignore logs
*.log

# Ignore any migration files not in 'versions/'
migrations/env.py
migrations/script.py.mako