# Placeholder for requirements.txt
# This file is used to specify the dependencies for the project.


flask==2.0.1

# additional plugins that need to be installed to run the website properly
flask_sqlalchemy
flask_login
email_validator
flask-migrate
flask-wtf
python-dotenv
flask-mail
flask-cors
pytz